{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>TierOne</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
        <link rel="stylesheet" href="{% static 'main.css' %}">
        
    </head>
    <body>
      

        <main>
            {% block content %}  
            {% endblock %}   
        </main>             
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="{% static 'app.js' %}"></script>
    </body>
</html>