{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<nav>
        <div class="nav-wrapper purple darken-4">
            <a href="#" class="brand-logo">Tier One</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Profile</a></li>
            <li><a href="/signup">SignUp</a></li>
            <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </nav>
<h1>Login</h1>
<form method='POST' action='.'>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>

{% endblock %}