{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<nav>
        <div class="nav-wrapper purple darken-4">
            <a href="#" class="brand-logo">Tier One</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Profile</a></li>
            <li><a href="/workouts">Workouts</a></li>
            <li><a href="/signup">SignUp</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>

<div class='trainer'>
<p>Hello {{request.user.username}}</p>

<form action="/add_workouts_to_user/" method="POST">
    {% csrf_token %}
        <select name='user_id'>
            {% for user in users %}
				<option  data-tokens="{{user.username}}" value={{user.id}}>{{user.username}}</option>
			{% endfor %}
        </select>
        <select name='workout_id'>
            {% for workout in workouts %}
				<option  data-tokens="{{workout.name}}" value={{workout.id}}>{{workout.name}}</option>
			{% endfor %}
        </select>
        <button class="btn waves-effect waves-purple darken-4" type="submit">Submit!</button>
 </form>
    

 {% for user in users %}
 <p>{{user.username}}</p>
 <a href='/workoutsforclients/{{ user.id }}'><p>View Workout</p></a>
 


 {% endfor %}




{% endblock %}

</div>