{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<p>trainer</p>
<p>Hello {{request.user.username}}</p>

<form action="/add_workouts_to_user/" method="POST">
    {% csrf_token %}
        <select name='user_id'>
            {% for user in users %}
				<option data-tokens="{{user.username}}" value={{user.id}}>{{user.username}}</option>
			{% endfor %}
        </select>
        <select name='workout_id'>
            {% for workout in workouts %}
				<option data-tokens="{{workout.name}}" value={{workout.id}}>{{workout.name}}</option>
			{% endfor %}
        </select>
        <button class="btn waves-effect waves-purple purple" type="submit">Submit!</button>
 </form>
    






{% endblock %}